.body{
    background-color: black;
}

nav{
	display: flex;
	text-decoration: none;
        position: sticky;
        
}
ul{
	display: flex;
        text-decoration: none;
	gap: 20px;
	font-family: sans-serif;
	list-style-type: none;
        
}
a{
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}
.first{
	display: flex;
}
 .center {
	text-align: center;
	font-family: sans-serif;
        margin: 8px;
        color: white;
}

.second{
 	
 	text-align: center;
}
button
{
	height: 50px;
	width: 200px;
	text-align: center;
        margin: 5px;
}

#but{
		font-size: 15px;
                font-weight:  bold;
}
#hover:hover {
    color: white;
}
.list{
	font-family: sans-serif;
        font-weight: bold;
	text-decoration: none;
}

#coder{
	font-size: 70px;
        margin-top: 50px;
        text-align: center;
        color: white;
}
#image{
	padding: 10px;
}
#but1{
    background-color:#0096FF; 
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#image1{
    height: 800px;
    width: 900px;
    display: block;
    margin: auto;
    padding: 40px;  
}
#logo{
    margin: 10px;  
    
}
li{
    color: lightslategray;
}
.cent{
        text-align: center;
	font-size: 30px;
	font-family: sans-serif;
	padding-left: 100px;
	padding-right: 100px;
        color: lightslategray;
}
.container{
    display: flex;
}
.left
{
    text-align: left;
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: lightslategray;
    font-family: sans-serif;
}
.le{
    text-align: left;
    
    font-weight: bold;
    font-size: 16px;
    color: lightslategray;
    font-family: sans-serif;
}
.lef{
    text-align: left;
    
    
    font-size: 30px;
    color: white;
    font-family: sans-serif;
}
.leftdiv{
    width: 460px;
    margin: 50px;
}
.rightdiv{
    width: 460px;
    margin: 50px;
}
.link{
    color:   #0096FF; 
    text-decoration: underline;
}